@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --main-bg-color: #E2E1E5;
}

body{
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;

}
span{

}
#main{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 60vh;
  width: 90%;
  align-content: center;
  margin: 5px;
  background-color: #EBF1FE;
  color: darkblue;
}
#history{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 40vh;
  width: 90%;
  align-content: center;
  background-color: #F7D7D7;
  margin: 10px;
  font-family: 'Staatliches', cursive;
  color: #CA1F1F;
  font-size: 150%;
}

#idk{
  align-items: center;
  display: flex;
  flex-direction: column;
}

#topBar{
  font-family: 'Staatliches', cursive;
  margin-right: 10px;
}
.grocery_banner {
  font-size: xx-large !important;
  vertical-align: center;
  font-family: 'Roboto Condensed', sans-serif !important;
  flex-direction: row;
  justify-content: space-around;
}

.center {
  display: flex;
  align-items: center;
}

.grocery_banner textarea, .grocery_banner select {
  /*font-size: xx-large !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  white-space: normal;
  width: 3em;
  display:inline-block;
  vertical-align:middle;
   */

}

.bottom_line {
  padding-bottom: 5px;

  margin-bottom: 0;
}

.top_line {
  margin-top: 0;
  padding-top: 5px;
}

.textarea {
  height: min-content;
  overflow: hidden;
  resize: none;
}

.textarea[contenteditable]:empty::before {
  content: "Enter price";
  color: var(--main-bg-color);
}

.weightarea[contenteditable]:empty::before {
  content: "Enter weight";
  color: var(--main-bg-color);
}


#selUni{
  margins: 10px;
  margin-top: 20px;
  padding: 5px;
  font-size: 200%;
}
span.textarea{
  background-color: white;
  margin: 3px;
  padding: 3px;
  font-size: 70%;
}

span.editValue{
  background-color: white;
  margin: 3px;
  padding: 3px;
  font-size: 70%;
}


.unit_selector{
  border: darkblue;
  border-width: 20px;
  font-size: 70%;
}