@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.App {
  text-align: center;
}

.grocery_banner {
  width: 100%;
  height: 20vh;
  font-size: xx-large !important;
  vertical-align: center;
  font-family: 'Roboto Condensed', sans-serif !important;
  flex-direction: row;
  justify-content: space-around;
}

.groceryLogo {
  position: relative;
  top: 5%;
  left: 0;
  height: 90%;
}

.center {
  display: flex;
  align-items: center;
}

.grocery_banner textarea, .grocery_banner select {
  font-size: xx-large !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  white-space: normal;
  width: 3em;
  display:inline-block;
  vertical-align:middle;

}


.textarea {
  display: block;
  width: min-content;
  height: min-content;
  overflow: hidden;
  resize: none;
}

.textarea[contenteditable]:empty::before {
  content: "Enter price";
  color: #E2E1E5;
}

.weightarea[contenteditable]:empty::before {
  content: "Enter weight";
  color: #E2E1E5;
}